{
  "presets": [
    "@vue/babel-preset-app"
  ],
  "plugins": [
    [
      "@ant-design-vue/babel-plugin-jsx",
      {
        "transformOn": true,
        "compatibleProps": true
      }
    ]
  ]
}
